* {
  border: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  padding: 20px;
  font-size: 2.5em;
}

span {
  color: #FFC30C;
}

.search-contents-container {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.search-button {
  background-color: #C7D3D8;
  color: #1F1F3D;
  border-radius: 10px 0 0 10px;
  height: 30px;
  padding: 10px;
  margin-right: 0;
}

.search-input {
  font-size: 1.5em;
  margin-right: 20px;
  padding: 8px;
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  cursor: auto;
}

main {
  display: flex;
  height: 100%;
}

.page-column {
  width: 34%;
  height: 100%;
  background-color: #F3F6F7;
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #3C6577;
}

.page-column:nth-child(1) {
  background-color: #587A8A;
  width: 32%;
  border-right: solid 2px #3C6577;
}

.page-column:nth-child(3) {
  border-right: solid 2px #3C6577;
}
